// bower:scss
// endbower

body {
    background: #FFF1E0;
    color: #333333;
    cursor: auto;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.page-container {
  max-width: 999px;
  margin: 0 auto;
}
.page-title {
  font-size:20px;
  font-weight:bold;
  padding:14px;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  padding:14px;
}

.chart-container {
  margin-bottom: 1em;
}

.abcRioButton {
  float:right;
}